---
import Welcome from '../components/Welcome.astro';
import "../styles/global.css";
import { FloatingDock } from '../components/ui/FloatingDock';
import { FaHome, FaInfoCircle } from 'react-icons/fa';
import { MdAccountCircle } from 'react-icons/md';


const items = [
  {
    title: 'Home',
    icon: 'fa-solid fa-house', // Font Awesome icon classes
    href: '/home',
  },
  {
    title: 'About',
    icon: 'fa-solid fa-circle-info',
    href: '/about',
  },
  {
    title: 'Profile',
    icon: 'fa-solid fa-user',
    href: '/profile',
  },
];

---

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<div class="w-full h-screen flex flex-col justify-center">
  <FloatingDock items={items} client:only="react" />
</div>