---
import "../styles/global.css";
import { SidebarDemo } from '../components/auth/sidebarDemo';
import { FloatingDock } from '../components/ui/FloatingDock';

const items = [
  {
    title: 'Home',
    icon: 'fa-solid fa-house', 
    href: '/home',
  },
  {
    title: 'About',
    icon: 'fa-solid fa-circle-info',
    href: '/about',
  },
  {
    title: 'Profile',
    icon: 'fa-solid fa-user',
    href: '/profile',
  },
];

---
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<div>
 <SidebarDemo client:only="react"/>
</div>
<div class="w-full h-screen flex flex-col justify-center">
    <FloatingDock items={items} client:only="react" />
  <div>