---
import { ref } from 'vue';
import Finger from '../components/auth/SignupCard.jsx';
import ImageUpload from '../components/ui/ImageUpload.vue';
import Image from '../components/ui/Image.vue';
import "../styles/global.css";
let imageId = ref('');
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<div>
    <Finger client:load  />
</div>





<!-- <ImageUpload
        client:load 
        v-model={imageId} 
        @update:modelValue={(newId: any) => imageId = newId}
    />
<Image client:load id="2" /> -->

